.mycaseform {
    position: relative;
    background-image: linear-gradient(130deg, rgb(255, 255, 255) 50%, rgb(227 227 227));
    width: 100%;
    padding: 20px 15px;
    border-radius: 10px;
    color: var(--main-color);
    box-shadow: 0 0 10px #ccc;
}
.mycaseform .cont {
    display: flex;
    flex-wrap: wrap;
}
.mycaseform .holder {
    padding: 0 10px;
    width: 20%;
}
.mycaseform label {
    display: block;
}
.mycaseform input,
.mycaseform select,
.mycaseform textarea {
    margin: 7px 0 20px;
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    caret-color: var(--main-color);
    color: var(--main-color);
}
.mycaseform input:focus,
.mycaseform select:focus,
.mycaseform textarea:focus {
    outline: none;
}
.mycaseform textarea {
    resize: none;
}
.mycaseform input[type="submit"],
.mycaseform input[type="reset"],
.mycaseform input[type="button"] {
    width: 120px;
    border: none;
    margin: 0 0 10px;
}
::placeholder {
    color: var(--main-color);
}
@media (max-width: 991px) {
    .mycaseform .holder {
        width: 33%;
    }
}
@media (max-width: 767px) {
    .mycaseform .holder {
        width: 50%;
    }
}
