:root {
    --main-color: #366D9F;
    --second-color: #f5f6f7;
    --third-color: #67748e;
}
body {
    background-color: var(--second-color);
    font-family: 'Open Sans', sans-serif;
}
.bg-gardient-dark {
    background-image: linear-gradient(310deg, #141727, #3a416f);
}
.bg-gardient-light {
    background-image: linear-gradient(to right, #ffffff 40%, #e9d0ef);
}
.bg-dang {
    background-image: linear-gradient(to right, rgb(162, 87, 87), rgb(161, 19, 19));
}
.bg-warn {
    background-image: linear-gradient(to right, rgb(162, 153, 87), rgb(251 199 13));
}
.bg-sucs {
    background-image: linear-gradient(to right, rgb(85 158 88), rgb(30 243 15));
}