body {
    background-color: white;
}
/* start nav  */
.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    z-index: 100;
}
.header nav {
    border-radius: 30px;
    padding: 10px 40px;
    box-shadow: -5px 6px 7px #a39c9c;
}
.header nav a:first-child svg {
    margin-right: 5px;
}
.header a:first-child span {
    color: var(--main-color);
}
.header nav .collapse a {
    display: block;
    margin: 0 7px;
}
.header nav .collapse a svg {
    margin: 0;
}
.header nav > a:last-child {
    font-size: 14px;
}
.header nav a:last-child:focus {
    box-shadow: none;
}
.header nav .nav-link:focus, .nav-link:hover {
    color: #cbd4c9;
}
.navbar .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
.navbar .navbar-toggler svg {
    color: white;
}
.dropdown-toggle::after {
    color: var(--main-color);
}
/* end nav  */
/* start layout */
.layout {
    height: 70vh;
}
.layout .image img {
    transform: skew(-8deg);
    background-size: cover;
    height: 70vh;
}
@media (max-width: 767px) {
    .layout .image {
        display: none;
    }
}
.layout .reg {
    margin: 20% auto 0;
    width: 50%;
    /* position: relative;
    left: 20%;
    top: 60%;
    transform: translateY(-60%); */
}
@media (max-width: 767px) {
    .layout .reg {
        margin: 35% auto 0; 
    }
}
    
.layout .reg h2 {
    color: var(--main-color);
    font-weight: bold;
}
.layout .reg p,
.layout .reg label {
    color: #777;
}
input:not([type="checkbox"]) {
    border: none;
    border-bottom: 1px solid var(--main-color);
    caret-color: var(--main-color);
}
input:not([type="checkbox"]):focus {
    box-shadow: none;
}
.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.layout .reg form button {
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    margin: 10px 0 15px;
    padding: 10px;
}
.layout .reg form button:hover {
    color: white;
}
.layout .reg form button:focus {
    box-shadow: none;
}
.layout .reg p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}
/* end layout */
/* start info */
.info {
    padding-top: 50px;
    text-align: center;
}
@media (max-width: 767px) {
    .info {
        padding-top: 10px;
    }
}
.info a {
    text-decoration: none;
    color: #666;
}
.info p {
    color: #666;
}
/* end info */
