.mystatusform {
    position: relative;
    background-image: linear-gradient(130deg, rgb(255, 255, 255) 50%, rgb(227 227 227));
    width: 100%;
    padding: 20px 15px;
    border-radius: 10px;
    color: var(--main-color);
    box-shadow: 0 0 10px #ccc;
    display: flex;
    height: 350px;
}
.mystatusform .hold {
    width: 50%;
}
.mystatusform .hold .image {
    position: relative;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mystatusform .hold .image img {
    width: 100%;
    position: relative; 
    animation: up-and-down 5s linear infinite;
}
.mystatusform .cont {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 80px;
    margin-left: 50px;
}
.mystatusform .form-group {
    width: 50%;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.mystatusform label {
    display: block;
    margin-bottom: 3px;
}
.mystatusform input,
.mystatusform select,
.mystatusform textarea,
.mystatusform button,
.mystatusform a.btn {
    margin: 4px 0;
    padding: 7px 20px;
    width: 100%;
    border: 1px solid var(--main-color);
    background-color: white;
    border-radius: 30px;
    caret-color: var(--main-color);
    color: var(--main-color);
}
.mystatusform input:focus,
.mystatusform select:focus,
.mystatusform textarea:focus {
    outline: none;
}
.mystatusform textarea {
    resize: none;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}
.mystatusform input[type="submit"],
.mystatusform input[type="reset"],
.mystatusform input[type="button"],
.mystatusform button,
.mystatusform a.btn {
    width: 140px;
    border: none;
    margin: 15px 0 10px;
}
.selectimage {
    text-align: center;
    padding: 13px;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    overflow: hidden;
}
input[type="file"]{
    display: none;
}
label{
    cursor:pointer;
}
.imageName{
    color:var(--main-color);
}
::placeholder {
    color: var(--main-color);
}
@media (max-width: 767px) {
    .mystatusform .hold:last-child {
        display: none;
    }
    .mystatusform .hold:first-child {
        width: 100%;
    }
}
@media (max-width: 390px) {
    .mystatusform input[type="submit"],
    .mystatusform input[type="reset"],
    .mystatusform input[type="button"],
    .mystatusform button,
    .mystatusform a.btn,
    .mystatusform .form-group {
        width: 100% !important;
    }
}
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    
    50% {
        top: -50px;
    }
}
