.mycaseform {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 40%;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--main-color);
    height: 550px;
    overflow: auto;
}
.mycaseform label {
    display: block;
}
.mycaseform input,
.mycaseform select,
.mycaseform textarea {
    margin: 10px 0 17px;
    padding: 7px 10px;
    width: 100%;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    caret-color: var(--main-color);
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.mycaseform input:focus,
.mycaseform select:focus,
.mycaseform textarea:focus {
    outline: none;
}
.mycaseform textarea {
    resize: none;
}
.mycaseform input[type="submit"] {
    background-color: var(--main-color);
    color: white;
}
.mycaseform input[type="submit"],
.mycaseform input[type="reset"] {
    width: 49%;
    border: none;
}
::placeholder {
    color: var(--main-color);
}
@media (max-width: 767px) {
    .mycaseform {
        width: 60%;
    }
}
@media (max-width: 567px) {
    .mycaseform {
        width: 94%;
    }
}
