.mytable {
    border-radius: 15px;
}
.mytable table,
.mytable .tableName {
    color: var(--third-color);
}
.mytable table tbody {
    background-color: white;
    font-size: 12px;
}
table tbody tr:last-child td {
    border-bottom-width: 0;
}
.mytable table tbody tr td .image {
    width: 40px;
    height: 40px;
}
.mytable table tbody tr td .image img {
    border-radius: 15px;
}
.mytable table tbody tr td span.status {
    color: white;
    font-size: 14px;
}
.mytable table tbody tr td .options span {
    display: flex;
    justify-content: center;
    align-items: center;
}